<div class="header">
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
    </div>
    
    <app-admin-header></app-admin-header>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav
      color="primary"
      #sidenav
      fxLayout="column"
      mode="over"
      opened="false"
      fxHide.gt-sm="true"
    >
      <app-admin-sidebar></app-admin-sidebar>
    </mat-sidenav>
    <div style="margin: 55px;margin-top: 10px;">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>
