<div class="primary">
  <div fxShow="true" fxHide.gt-sm="true"></div>
  <a mat-button class="companyName" routerLink="/admin">
    <span> HULK-STORE</span>
  </a>
  <span class="example-spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
    <a mat-button routerLink="/admin">Inicio</a>
    <a mat-button *ngIf="idRole == 1" routerLink="/admin/product">Ver mis Productos</a>
    <a mat-button *ngIf="idRole == 2" routerLink="/admin/category">Ver Productos</a>
    <a mat-button (click)="logOut()" >Salir</a>
  </div>
  <div class="right-page">
        <img src="assets/cart.png" routerLink="/admin/cart" *ngIf="idRole == 2" title="carrito" class="cart" width="50" height="40" >
        <img src="assets/logo.png" title="hulk-store" class="logo"  width="50" height="50" >
  </div>

</div>
