@media(min-width:960px){
    .sidebar{
        width: 100%;
    }

    .primary{
        background:rgb(0, 0, 0);
        border-bottom: 5px solid rgb(1, 218, 1);
        a{
            color: white;
        }
    }
    
    .logo{
        position:absolute;
        right: 0;
        top: 0;
        margin: 10px;
    }

    .cart{
        position:absolute;
        right: 100px;
        top: 0;
        margin: 17px;
    }
}

@media(max-width:960px){

    .primary{
        background:rgb(0, 0, 0);
        height: 200px;
        width: 100%;
        position:absolute;
    
        a{
            color: white;
        }
    }

    .primary{
        min-width: 500px;
    }
    .sidebar{
        width: 100%;
    }
    
    .logo{
        position:absolute;
        right: 0;
        top: 0;
        margin: 10px;
    }

    .cart{
        position:absolute;
        right: 15px;
        top: 0;
        margin: 10px;
    }
}

