
    <h1 class="text-center">Registrar Sede</h1>
    <div class="form-group">
        <label>Lista Sede</label>
        <select  [(ngModel)]="id_ciudad" class="form-control" (change)="getListSedesaByUsuario($event.target.value)" >
            <option *ngFor="let sede of listaSedes | async " [value]="sede.id">{{ sede.nombre }}</option>
        </select>
    </div>

    <div class="w-100  table-response">
        <table class="w100 table table-dark">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Cedula</td>
                    <td>Ciudad</td>
                    <td>Sede</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sede of listSedesUser | async">
                    <td>{{ sede.nombres }}</td>
                    <td>{{ sede.identificacion }}</td>
                    <td>{{ sede.ciudad }}</td>
                    <td>{{ sede.sede }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-group col-12">
        <button type="submit" class="btn btn-block btn-success">Enviar</button>
    </div>
