<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <h1 class="text-center">Registrar Sede</h1>
    <div class="form-group">
        <label>Nombre Sede</label>
        <input type="text" formControlName="nombre" class="form-control">
        <div class="error" *ngIf="form.get('nombre').hasError('required') && form.get('nombre').touched">
            Nombre requerido
        </div>
    </div>

    <div class="form-group">
        <label>Lista Ciudad</label>
        <select  formControlName="id_ciudad" class="form-control">
            <option *ngFor="let ciudad of listaCiudades | async " [value]="ciudad.id">{{ ciudad.nombre }}</option>
        </select>
        <div class="error" *ngIf="form.get('id_ciudad').hasError('required') && form.get('id_ciudad').touched">
            Ciudad requerido
        </div>
    </div>


    <div class="form-group col-12">
        <button type="submit" class="btn btn-block btn-success">Enviar</button>
    </div>
</form>